//
// Colors
//
$sunflower: #ffbe33;
$burgundy: #7A0028;
/* gray */
$snow: #f9f9f9;
$smoke: #DDDDDD;
$platinum: #E8E8E8;
$gray: #999999;
$black-olive: #3f3f3f;

//
// Media Query Breakpoints
//
$mobile : 575.98px;
$tablet : 767.98px;
$laptop : 991.98px;
$desktop : 1199.98px;