<div class="profile-list-page">

  <div *ngIf="response$ | async as response; else loading" class="py-3">
    <app-profiles-table [profiles]="response.list"></app-profiles-table>
    <div class="profile-list-page__pagination">
      <app-pagination [totalPage]="totalPage" 
                      [currentPage]="requestParams._page"
                      (changeEvent)="updatePage($event)"></app-pagination>
    </div>
  </div>
  
  <ng-template #loading>
    <div *ngIf="!isApiError; else error" class="d-flex py-5 justify-content-center">
      <app-spinner></app-spinner>
    </div>
    <ng-template #error><app-api-response-message></app-api-response-message></ng-template>
  </ng-template>
  
</div>