<div class="profile-list-page row">

  <app-profile-filter-box (changeEvent)="updateFilter($event)" 
                          class="col-md-4 mt-3"></app-profile-filter-box>
  
  <div *ngIf="response$ | async as response; else loading" class="py-3 col-md-8">
    <app-profiles-table [profiles]="response.list"></app-profiles-table>
    <div class="profile-list-page__pagination">
      <app-pagination [totalPage]="totalPage" 
                      [currentPage]="requestParams._page"
                      (changeEvent)="updatePage($event)"></app-pagination>
    </div>
  </div>
  
  <ng-template #loading>
    <div class="col-md-8">
      <div *ngIf="!isApiError; else error" class="d-flex py-5 justify-content-center">
        <app-spinner></app-spinner>
      </div>
      <ng-template #error><app-api-response-message></app-api-response-message></ng-template>
    </div>
  </ng-template>
  
</div>